---
import logo from "/src/icons/logo.svg?raw";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="p-2 m-2 group text-3xl md:text-7xl"
  style="grid-area: logo"
  aria-label="Home page"
>
  <Fragment set:html={logo} />
</a>
