---
import logo from "/src/icons/logo.svg?raw";

interface Props {
  class?: string;
  href: string;
}

const { href, class: className } = Astro.props;
---

<a
  href={href}
  class=`group text-3xl md:text-7xl ${className}`
  style="grid-area: logo"
  aria-label="Home page"
>
  <Fragment set:html={logo} />
</a>
