---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Just photos" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main
      class={`grid min-h-full grid-cols-1 md:grid-cols-[310px,1fr] md:grid-rows-[min-content,1fr] auto-rows-min ${className || ""}`}
    >
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
  }
  html {
    font-family: "General Sans", system-ui, sans-serif;
    @apply text-white bg-black;
  }
  html,
  body {
    height: 100%;
  }
  .animate-in {
    animation: animate-in 0.5s ease-in-out;
  }
  @keyframes animate-in {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 0.6;
      transform: translateY(0);
    }
  }

  @font-face {
    font-family: "Gambetta";
    src: url("/fonts/Gambetta-Variable.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "General Sans";
    src: url("/fonts/GeneralSans-Variable.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Server Mono";
    src: url("/fonts/ServerMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
